<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">{{projectName}}</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-primary" (click)="loadContent()" >Load Content</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-primary" (click)="flushContent()">Clear</button>
            </li>
        </ul>
    </div>
</nav>
<app-todos [contents]="todos"></app-todos>
